*{
    outline:dotted 1px red;
}


div {
    display:inline-block;
}
img {
    position:relative;
    left:5%;
    display:inline-block;
    height:300px;
    width:300px;
}
#vote1, #vote2, #vote3 {
    position:relative;
    display: inline-block;
    left:5%;
}
#vote1 {
    left:150px;
}
#vote2 {
    left:375px;
}
#vote3 {
    left:600px;
}

#scores {
    display:inline-block;

}
#views {
    display:inline-block;
}

section {
    border: 2px solid blue;
}
